In [28]:
import pandas as pd

In [29]:
df=pd.read_csv("MoviesOnStreamingPlatforms_updated.csv")

In [30]:
df.tail(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [31]:
df['Type'].unique()

array([0], dtype=int64)

In [32]:
df['Age'].isnull().sum()

9390

In [33]:
df['IMDb'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
16739    False
16740    False
16741    False
16742    False
16743     True
Name: IMDb, Length: 16744, dtype: bool

In [34]:
l=['ID','Title','Year','Age','IMDb','Rotten Tomatoes','Netflix','Hulu','Prime Video','Disney+','Type','Directors','Genres','Country','Language','Runtime']

In [39]:
for col in df.columns:
    print(col,df[col].isnull().sum())

Unnamed: 0 0
ID 0
Title 0
Year 0
Age 9390
IMDb 571
Rotten Tomatoes 11586
Netflix 0
Hulu 0
Prime Video 0
Disney+ 0
Type 0
Directors 726
Genres 275
Country 435
Language 614
Runtime 592

In [35]:
for col in df.columns:
    if df[col].isnull().sum():
        print(col,df[col].isnull().sum())

Age 9390
IMDb 571
Rotten Tomatoes 11586
Directors 726
Genres 275
Country 435
Language 614
Runtime 592

In [42]:
for col in df.columns:
    if df[col].isnull().any():
        cnt=(df[col].isnull().sum())
        print(col,cnt,sep="-->")

Age-->9390
IMDb-->571
Rotten Tomatoes-->11586
Directors-->726
Genres-->275
Country-->435
Language-->614
Runtime-->592

In [48]:
for col in['IMDb','Runtime']:
    mean=df[col].mean()
    df[col]=df[col].fillna(mean)

In [46]:
for col in['Directors','Genres','Country','Language']:
    df[col]=df[col].fillna('unknown')

In [49]:
df.Age.unique()

array(['13+', '18+', '7+', nan, 'all', '16+'], dtype=object)

In [50]:
df.Age.value_counts()

Age
18+    3474
7+     1462
13+    1255
all     843
16+     320
Name: count, dtype: int64

In [51]:
df.Age.mode()

0    18+
Name: Age, dtype: object

In [52]:
df['Age']=df['Age'].fillna(df.Age.mode())

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16744 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16744 non-null  object
 13  Genres           16744 non-null  object
 14  Country          16744 non-null  object
 15  Language         16744 non-null  object
 16  Runtime          16744 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB